html, body {
  width: 100%;
  height: 100%;
  font-family: "PingFangTC-Light", sans-serif, "Microsoft JhengHei"; }

a {
  text-decoration: none; }

h1 {
  font-size: 30px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased; }

.wrapper {
  position: relative; }

.content {
  max-width: 1100px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.btn {
  width: 80px;
  height: 25px;
  text-align: center;
  font-size: 12px;
  line-height: 25px;
  border-radius: 25px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer; }

.btn_more {
  color: #bbb;
  border: 1px solid #bbb;
  vertical-align: bottom; }
  .btn_more:hover {
    color: #d6d6d6;
    border: 1px solid #d6d6d6;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }

.btn_buyNow {
  color: #666;
  background-color: #facca8; }
  .btn_buyNow:hover {
    color: #888;
    background-color: #ffdec3;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }

.stop-scrolling {
  height: 100%;
  overflow: hidden; }

.lightBox {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 101;
  display: none; }

.lightBox_content {
  width: 750px;
  height: 300px;
  color: #333;
  background-color: #fff;
  -webkit-box-shadow: 0 0 40px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 40px 5px rgba(0, 0, 0, 0.4);
  padding: 20px;
  margin: auto;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .lightBox_content .btn_buyNow {
    width: 110px;
    height: 37px;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 37px;
    padding: 0 20px;
    position: absolute;
    bottom: 20px;
    right: 20px; }

.lightBox_btn_close {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  border: 1px solid #777;
  background-image: url("../img/cancel.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50%;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer; }
  .lightBox_btn_close:hover {
    opacity: .7;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }

.lightBox_imgBox {
  width: 280px;
  height: 100%;
  text-align: center;
  padding-left: 10px;
  padding-right: 30px;
  float: left;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .lightBox_imgBox .lightBox_img {
    max-width: 100%;
    max-height: 100%; }

.lightBox_text {
  width: calc(100% - 280px);
  float: left;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.lightBox_productName {
  max-height: 65px;
  font-size: 24px;
  line-height: 34px;
  margin-top: 25px;
  margin-bottom: 13px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; }

.lightBox_priceLabel {
  font-size: 12px;
  letter-spacing: 1px;
  color: #efefef;
  vertical-align: text-bottom;
  background-color: #121212;
  padding: 7px 20px;
  margin-bottom: 13px;
  display: inline-block; }

.lightBox_productDescription {
  height: 70px;
  font-size: 17px;
  line-height: 24px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical; }

header {
  width: 100%;
  height: 50px;
  background: #121212;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: fixed;
  z-index: 100; }
  header .content {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }

.logo_img {
  width: 30px;
  height: 30px;
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px; }

.logo_text {
  font-size: 18px;
  letter-spacing: 2px;
  color: #efefef;
  display: inline-block;
  vertical-align: middle; }

.headerBtn_buyNow {
  font-size: 15px;
  letter-spacing: 1px;
  color: #121212;
  background-color: #d3d3d3;
  padding: 7px 15px; }

.projectInfo {
  height: 100vh;
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #efefef; }
  .projectInfo .content {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .projectInfo h1 {
    text-align: center;
    margin-bottom: 15px;
    letter-spacing: 1px; }
  .projectInfo p {
    font-size: 15px;
    margin-top: 25px;
    margin-bottom: 10px; }

.projectInfo_progressText_mobile {
  display: none; }

.progressBar_bg {
  width: 300px;
  height: 10px;
  background-color: #333;
  position: relative; }

.progressBar {
  width: 0;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#f8e0c6), to(#eebc94));
  background: -webkit-linear-gradient(left, #f8e0c6 0%, #eebc94 100%);
  background: -o-linear-gradient(left, #f8e0c6 0%, #eebc94 100%);
  background: linear-gradient(to right, #f8e0c6 0%, #eebc94 100%);
  position: absolute;
  left: 0;
  top: 0; }

.projectInfo_more {
  font-size: 13px;
  color: #999;
  position: relative;
  top: 100px; }
  .projectInfo_more .fa-sort-desc {
    margin-left: 5px;
    position: relative;
    top: -3px; }
  .projectInfo_more:hover {
    color: #bbb;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }

.productReward {
  position: relative;
  top: -125px;
  margin-bottom: -95px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.productReward_title {
  font-size: 18px;
  letter-spacing: 1px;
  color: #efefef;
  margin-left: 10px;
  margin-bottom: 20px; }
  .productReward_title .productReward_amount {
    font-size: 15px;
    font-weight: 800;
    color: #333;
    background-color: #facca8;
    border-radius: 100px;
    padding: 5px 10px;
    margin-left: 10px;
    display: inline-block; }

.productReward_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.productReward_list_box {
  width: 250px;
  border-radius: 7px;
  -webkit-box-shadow: 0 1px 10px rgba(192, 192, 192, 0.75);
  box-shadow: 0 1px 10px rgba(192, 192, 192, 0.75);
  background-color: #fff;
  padding: 13px 15px 13px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  margin: 0 5px 35px; }

.productReward_list_box_section1 {
  overflow: hidden; }

.productReward_priceLabel {
  font-size: 12px;
  letter-spacing: 1px;
  color: #efefef;
  background-color: #121212;
  padding: 7px;
  position: absolute;
  left: 0; }

.productReward_productImgBox {
  width: 100%;
  height: 150px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.productReward_productImg {
  max-width: 100%; }

.productReward_list_box_section2 {
  letter-spacing: 1px;
  margin-top: 15px;
  margin-bottom: 40px; }

.productReward_productName {
  height: 15px;
  font-size: 15px;
  color: #333;
  font-weight: 800;
  margin-bottom: 15px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis; }

.productReward_productDescription {
  height: 65px;
  font-size: 13px;
  line-height: 21px;
  color: #999;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis; }

.productReward_btn {
  margin-top: 15px;
  position: absolute;
  right: 15px;
  bottom: 15px; }

.btn_buyNow {
  margin-left: 5px; }

.flexBoxAdjust_fakeBox {
  height: 0;
  visibility: hidden; }

footer {
  height: 50px;
  background-color: #121212; }

@media screen and (max-width: 1200px) {
  .productReward {
    padding: 0 10px; }
  .productReward_list {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; } }

@media screen and (max-width: 767px) {
  .lightBox_content {
    width: 100%;
    height: calc(100% - 50px);
    top: initial; }
  .lightBox_imgBox {
    width: auto;
    height: auto;
    max-height: 45%;
    float: none;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 25px; }
    .lightBox_imgBox .lightBox_img {
      max-height: none; }
  .lightBox_text {
    width: 100%;
    max-height: 35%;
    padding: 0;
    float: none;
    overflow: hidden; }
  .lightBox_productName {
    margin-top: 0; }
  .lightBox_productDescription {
    font-size: 16px; }
  .logo_text {
    display: none; }
  .projectInfo .content {
    padding: 0 40px; }
  .projectInfo h1 {
    font-size: 24px; }
  .projectInfo_progressText_PC {
    display: none; }
  .projectInfo_progressText_mobile {
    display: block; }
  .progressBar_bg {
    width: 100%; }
    .progressBar_bg .progressBar {
      width: 65%; }
  .projectInfo_more {
    display: none; }
  .productReward {
    padding: 0 15px;
    margin-bottom: -45px;
    top: -65px; }
  .productReward_title {
    display: none; }
  .productReward_list_box {
    width: 100%;
    height: 165px;
    border-radius: 0;
    -webkit-box-shadow: 0 3px 10px rgba(192, 192, 192, 0.5);
    box-shadow: 0 3px 10px rgba(192, 192, 192, 0.5);
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px; }
  .productReward_list_box_section1 {
    width: 25%;
    display: inline-block;
    float: left; }
    .productReward_list_box_section1 .productReward_priceLabel {
      bottom: 13px; }
    .productReward_list_box_section1 .productReward_productImgBox {
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start; }
    .productReward_list_box_section1 .productReward_productImg {
      max-width: none;
      height: 105px; }
  .productReward_list_box_section2 {
    width: 70%;
    height: 100%;
    margin: 0;
    display: inline-block;
    float: right;
    position: relative; }
    .productReward_list_box_section2 .productReward_productDescription {
      height: 70px;
      line-height: 18px;
      -webkit-line-clamp: 4; }
    .productReward_list_box_section2 .productReward_btn {
      margin-top: 15px;
      position: absolute;
      right: 0;
      bottom: 0; } }
